/*This is for IE to understand video tags*/
video { display: block; }

@media screen and (max-device-width: 800px) {
    html { background: #000 no-repeat center center fixed; }
    #bgvid { display: none; }
}
