/*Custom WebSLeekly Fonts*/
@font-face { font-family: weblysleek; src: url(../fonts/weblysleekuil.ttf); }
@font-face { font-family: weblysleekBold; src: url(../fonts/weblysleekuisb.ttf); }
/*This class is to centre the child elements*/
.centered{ text-align: center; }
.fontBold{font-family: 'weblysleekBold','weblysleek', sans-serif;}

/*This is for IE to understand video tags*/
/*This is for controlling the Width of BigVideo for mobile*/
#big-video-wrap { overflow: hidden; position: absolute; height: 100%; width: 100%; top: 50px; left: 0; }
/*BigVideo Player controls related CSS*/
#big-video-wrap{overflow:hidden;position:absolute;height:100%;width:100%;top:0;left:0;}
#big-video-vid,#big-video-image{position:absolute;}
#big-video-control-container{position:absolute;bottom:20px;left:5%;width:90%;overflow:hidden;
  -webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;}
#big-video-control{width:100%;height:16px;position:relative;}
#big-video-control-middle{margin: 0 56px 0 24px;}
#big-video-control-bar{width:100%;height:16px;position:relative;cursor:pointer;}
#big-video-control-progress{position:absolute;top:7px;height:3px;width:0%;background:#fff;}
#big-video-control-track{position:absolute;top:8px;height:1px;width:100%;background:#fff;}
#big-video-control-bound-left{left:0;}
#big-video-control-bound-right{right:-1px}
#big-video-control-track .ui-slider-handle {opacity:0;}
#big-video-control-playhead{left:30%;}
#big-video-control-play{position:absolute;top:0;left:0;height:16px;width:16px;background-image:url('../images/bigvideo.png');}
#big-video-control-timer{position:absolute;top:1px;right:0;color:#fff;font-size:11px;}
#big-video-control-playhead,#big-video-control-bound-left,#big-video-control-bound-right{position:absolute;top:0;height:16px;width:1px;background:#fff;}
#big-video-control .ui-slider-handle{border-left:solid 1px #fff; width:16px;height:16px;position:absolute;top:-8px;}
.transparent{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.vjs-big-play-button{display:none !important;}
/*Navigation Logo position*/
.navbar{ font-family: 'weblysleekBold','weblysleek', sans-serif; font-size: 14px; }
a.navbar-brand>img { position: relative; top: -29px; }
/*Making the Navigation also 100% for all devices*/
.navbar.navbar-inverse{ width: 100%; }
/*logoBannerContent*/
.logoBannerContent{
  /*border: 1px solid red;*/
  position: absolute;
  clear: both;
  margin: 0;
  padding: 0;
  height:100%;width:100%;
  height: 92%;
}
/*Because of the static position of the BigVideo - applying absolute position to the main content*/
.mainContent{ position: absolute;
  top:100%;
  left: 5%;
  right:5%;
  margin: 0; padding: 0;
}

.mainContent h2,.btn{font-family: 'weblysleek', sans-serif;text-align: center;}
.mainContent h2>small{color: inherit;}
video { display: block; }

/*Contact Us Form */
#contactUsForm{
    position: relative;
    overflow: hidden;
    font-family: 'weblysleek', sans-serif;
    /*border: 1px solid red;*/
    background-position: 50% -125px;
    font-size: 20px;
    margin-top: 10px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 10px;
    color: #fff;
    border-top: 10px double rgba(0,0,0,.4);
    border-radius: 15px;
    border-bottom: 10px double rgba(0,0,0,.4);
    background: url('../images/contactus_bg2.jpg') 0 0 repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    /*z-index: -1;*/
    width: 100%;
    padding: 0px 0px 0px 20px;
    /*padding-top: 120px;*/
    padding-bottom: 120px;
}
#contactUsForm h2{ color: #fff; }
#contactUsForm h3{ color: #fff; }
#contactUsForm hr{ position: relative; left: -1%; display: block; margin: 0px 0px 20px 0px; }
/*Logo Questionnaire Section*/
#questionSection{
    position: relative;
    overflow: hidden;
    font-family: 'weblysleek', sans-serif;
    /*border: 1px solid red;*/
    background-position: 50% -125px;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:0px;
    margin-right:0px;
    color: #fff;
    border-top: 10px double rgba(0,0,0,.4);
    border-radius: 15px;
    border-bottom: 10px double rgba(0,0,0,.4);
    background: url('../images/ideate_bg.jpg') 0 0 repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    /*z-index: -1;*/
    width: 100%;
    min-height: 460px;
    padding: 0px 0px 0px 20px;
    /*padding-top: 120px;*/
    padding-bottom: 120px;
}
#questionSection h2{ color: #fff; }
#questionSection h3{ color: #fff; }
#questionSection hr{ position: relative; left: -1%; display: block; margin: 0px 0px 20px 0px; }
/*Intro*/
#questionSection .introDiv { position: absolute;
left:1260px;
padding-bottom: 15px;
}
/*Questions and Answers*/
#questionSection .questionDiv { position: absolute;}


/*Footer Section*/
footer{ font-family: 'weblysleek', sans-serif; font-size: 16px; margin-top: 30px; }
footer ul{ list-style: none; }
/*Mobile Devices*/
@media screen and (max-device-width: 800px) {
    html { background: #000 no-repeat center center fixed; }
    #bgvid { display: none; }
}
